.navigation .submenu {
  display: none;
  background: #b19891;
  
}

.navigation ul li:hover .submenu {
  display: block;
}

.navigation ul li:focus .submenu {
  display: block;
}

.submenu li:last-child {
  margin-bottom: 20px;
}