@charset "UTF-8";
body {
  background-color: #6d827d;
  margin: 0;
  font-family: Roboto;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/*ХЕДЕР*/
.header {
  background: grey url("../images/sky.jpg") no-repeat;
  background-size: 100%;
  height: 355px;
}

.header-background {
  background: rgba(247, 172, 115, 0.14);
  height: 100%;
  width: 100%;
}

.header-address {
  font-size: 29px;
  float: right;
}

.header-title {
  font-size: 76px;
  color: #FF0000;
  -webkit-text-stroke: 3px #000000;
  text-shadow: 10px 4px 5px rgba(255, 255, 255, 0.81);
  font-weight: bold;
  font-family: Roboto-bold;
  text-transform: uppercase;
}

.header-tagline {
  display: block;
  font-size: 30px;
  font-style: italic;
}

.header-phone {
  display: block;
  font-size: 35px;
  text-decoration: none;
  color: black;
}

.header-phone-hover:hover {
  color: #ffc800;
  text-decoration: underline;
}

.header-phone_dayNight {
  font-size: 25px;
}

.header-phone_callMe {
  font-size: 26px;
  line-height: 2;
  color: white;
}

.header-left {
  padding-top: 85px;
}

.header-right {
  float: right;
  margin-top: -115px;
}

.line {
  width: 100%;
  border: 1px solid black;
  /*НАВИГАЦИЯ*/
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 60%;
  height: 350%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.submenu-good {
  height: auto;
}

.navigation-sub {
  margin-top: 10px;
}

.navigation {
  font-size: 21px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.navigation-li {
  display: inline-block;
  position: relative;
}

.navigation_a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  position: relative;
}

.navigation_a:hover {
  color: #ffc800;
}

.navigation_a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #ffc800;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.navigation_a:hover:after {
  width: 100%;
}

.navigation_a:focus:after {
  width: 100%;
}

.flowers {
  background: grey url("../images/flowers.jpg") no-repeat;
  background-size: 100%;
  height: 560px;
}

.general {
  height: auto;
  background: url("../images/air.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.general-background {
  background: rgba(180, 231, 231, 0.49);
  height: 100%;
  width: 100%;
}

.about-h {
  margin-top: 0px;
  padding-top: 65px;
  margin-bottom: 40px;
  text-align: center;
}

.about-p {
  text-indent: 20px;
  text-align: justify;
  font-size: 23px;
}

.about-p-b {
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}

.about-more {
  text-align: center;
}

.about-more-span {
  font-size: 28px;
  text-transform: uppercase;
  color: black;
}

.video-block {
  text-align: center;
  margin-top: 50px;
}

.video-block-v {
  width: 70%;
}

.about-p-b > a:hover {
  color: #ffc800;
}

.about-more-span:hover {
  color: #ffc800;
}

.callMe {
  text-align: center;
  padding-bottom: 50px;
}

.callMe-h {
  padding-top: 100px;
}

.callMe-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.callMe-leftInput {
  display: block;
  width: 350px;
  height: 55px;
  margin: 20px;
  padding-left: 15px;
  font-size: 18px;
}

.callMe-textarea {
  width: 350px;
  height: 130px;
  margin-top: 20px;
  resize: none;
  font-size: 18px;
  padding: 15px;
}

.callMe-button {
  width: 300px;
  height: 60px;
  background: #D09F21;
  -webkit-box-shadow: 10px 10px 2px rgba(255, 241, 168, 0.24);
          box-shadow: 10px 10px 2px rgba(255, 241, 168, 0.24);
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  outline: none;
}

.map {
  width: 100%;
  position: relative;
  width: 100%;
}

.map-m {
  width: 100%;
}

.footer-develop-a:hover {
  color: #ffc800;
}

.footer {
  background: grey url("../images/skyF.jpg") no-repeat;
  background-size: 100%;
  height: 365px;
  position: relative;
}

.footer-right-a:hover {
  color: #ffc800;
}

.footer-background {
  background: rgba(247, 172, 115, 0.14);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left {
  font-size: 23px;
  line-height: 27px;
  padding: 100px;
}

.footer-left-span {
  text-decoration: underline;
}

.footer-left-span-i {
  font-style: italic;
}

.footer-right {
  font-size: 23px;
  line-height: 27px;
  padding: 100px;
}

.footer-socials {
  padding: 100px;
}

.footer-socials-a {
  margin-right: 20px;
}

.footer-develop {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
}

.footer-develop-a {
  color: white;
}

a {
  color: black;
}

.scrollTop {
  width: 128px;
  height: 128px;
  background: url("../images/top.png") 0 0 no-repeat;
  bottom: -40px;
  left: 1%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1573px) {
  .footer-left, .footer-right, .footer-socials {
    padding: 70px;
  }
}

@media (max-width: 1393px) {
  .footer-left, .footer-right, .footer-socials {
    padding: 70px 50px;
  }
}

@media (max-width: 1273px) {
  .footer-left, .footer-right, .footer-socials {
    padding: 70px 35px;
  }
}

@media (max-width: 1289px) {
  .navigation_a {
    margin-right: 38px;
  }
}

@media (max-width: 1600px) {
  .flowers {
    height: 440px;
  }
}

@media (max-width: 1273px) {
  .navigation_a {
    margin-right: 28px;
  }
}

@media (max-width: 1195px) {
  .navigation_a {
    margin-right: 20px;
  }
  .footer-left, .footer-right, .footer-socials {
    padding: 58px 27px;
    font-size: 20px;
  }
  .footer {
    height: 310px;
  }
}

@media (max-width: 1132px) {
  .navigation_a {
    margin-right: 18px;
  }
  .navigation {
    font-size: 20px;
  }
}

@media (max-width: 1070px) {
  .navigation_a {
    margin-right: 16px;
  }
  .navigation {
    font-size: 19px;
  }
}

@media (max-width: 1026px) {
  .footer-left, .footer-right, .footer-socials {
    padding: 44px 23px;
    font-size: 20px;
  }
  .footer {
    height: 288px;
  }
}

@media (max-width: 1008px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  .footer-left, .footer-right, .footer-socials {
    padding: 29px 18px;
    font-size: 19px;
  }
  .footer {
    height: 272px;
  }
  .map {
    height: 400px;
  }
}

@media (max-width: 955px) {
  .navigation_a {
    margin-right: 12px;
  }
  .flowers {
    height: 340px;
  }
}

@media (max-width: 933px) {
  .footer-left, .footer-right, .footer-socials {
    padding: 26px 10px;
    font-size: 19px;
  }
  .footer-socials-a {
    margin-right: 9px;
  }
}

@media (max-width: 930px) {
  .header-title {
    font-size: 70px;
  }
  .header-tagline {
    font-size: 26px;
  }
  .navigation {
    font-size: 18px;
  }
}

@media (max-width: 890px) {
  .video-block-v {
    width: 90%;
  }
}

@media (max-width: 882px) {
  .header-phone {
    font-size: 28px;
  }
  .header-phone_callMe {
    font-size: 22px;
  }
  .navigation_a {
    margin-right: 10px;
  }
  .header {
    height: 320px;
  }
}

@media (max-width: 875px) {
  .footer-left, .footer-right, .footer-socials {
    font-size: 18px;
  }
}

@media (max-width: 867px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 839px) {
  .navigation {
    height: 88px;
  }
  .navigation_a {
    margin-bottom: 20px;
  }
  .footer-socials {
    width: 50px;
  }
  .footer-socials-a-img {
    margin-bottom: 15px;
  }
}

@media (max-width: 825px) {
  .footer {
    height: 258px;
  }
}

@media (max-width: 820px) {
  .header-title {
    font-size: 64px;
  }
  .header-tagline {
    font-size: 23px;
  }
  .header-phone {
    font-size: 24px;
  }
  .header-phone_callMe {
    font-size: 20px;
  }
  .header-right {
    margin-top: -80px;
  }
}

@media (max-width: 793px) {
  .header {
    height: 300px;
  }
  .footer {
    height: 250px;
  }
}

@media (max-width: 780px) {
  .footer-socials {
    padding: 26px 0px;
  }
}

@media (max-width: 767px) {
  .callMeInput {
    width: 300px;
  }
}

@media (max-width: 759px) {
  .footer-background {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-left, .footer-right, .footer-socials {
    padding: 0px 10px;
  }
  .footer {
    height: 395px;
    background-size: auto 100%;
  }
  .footer-socials {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 0px;
    padding-right: 92px;
    padding-top: 10px;
  }
  .footer-left {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 750px) {
  .header {
    height: 275px;
  }
  .flowers {
    height: 270px;
  }
}

@media (max-width: 735px) {
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 20px;
  }
  .header-right {
    margin-top: 0px;
    width: 222px;
    padding-top: 25px;
  }
  .header {
    height: 360px;
    background-size: auto 100%;
  }
  .header-left {
    padding-top: 50px;
  }
  .header-address {
    font-size: 25px;
  }
}

@media (max-width: 650px) {
  .callMeInput {
    width: 250px;
  }
  .flowers {
    height: 210px;
  }
}

@media (max-width: 650px) {
  .callMe-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .callMeInput {
    width: 350px;
  }
  .callMe-textarea {
    margin: 20px;
  }
  .left, .right {
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    height: 415px;
  }
  .footer-right {
    margin-bottom: 20px;
  }
}

@media (max-width: 530px) {
  .header-title {
    font-size: 61px;
  }
  .header-tagline {
    font-size: 21px;
  }
  .header-phone {
    font-size: 22px;
  }
  .header-phone_callMe {
    font-size: 18px;
  }
  .header-address {
    font-size: 22px;
  }
}

@media (max-width: 505px) {
  .header-title {
    font-size: 56px;
  }
}

@media (max-width: 465px) {
  .navigation {
    height: 115px;
  }
  .navigation_a {
    margin-right: 32px;
  }
  .header {
    height: 357px;
  }
  .about-p {
    font-size: 20px;
  }
  .header-title {
    font-size: 54px;
  }
  .header-tagline {
    font-size: 19px;
  }
  .header-phone {
    font-size: 20px;
  }
  .header-phone_callMe {
    font-size: 18px;
  }
  .header-address {
    font-size: 20px;
  }
}

@media (max-width: 460px) {
  .header {
    height: 310px;
  }
  .header-title {
    font-size: 53px;
  }
  .map {
    display: none;
  }
  .about-p {
    font-size: 16px;
  }
  .about-p-b {
    font-size: 20px;
  }
  .about-more-span {
    font-size: 20px;
  }
  .about-h {
    padding-top: 33px;
    margin-bottom: 21px;
  }
  .navigation {
    height: 255px;
  }
}

@media (min-width: 320px) and (max-width: 460px) {
  .callMeInput {
    width: 271px;
  }
  .callMe-textarea {
    height: 70px;
  }
  .about-h {
    padding-top: 48px;
  }
  .callMe-button {
    width: 230px;
    height: 51px;
  }
  .footer {
    height: 497px;
  }
  .header-address {
    font-size: 17px;
  }
  .header-title {
    -webkit-text-stroke: 2px #000000;
  }
  .header-title {
    font-size: 37px;
  }
  .header-tagline {
    font-size: 16px;
  }
  .header-phone {
    font-size: 18px;
  }
  .header-phone_callMe {
    font-size: 17px;
  }
  .header {
    height: 270px;
  }
  .header-left {
    padding-top: 35px;
  }
  .navigation_a {
    width: 225px;
    text-align: left;
    margin-bottom: 10px;
  }
  .navigation {
    margin-top: 15px;
    height: 255px;
  }
  .flowers {
    display: none;
  }
  .about-h {
    padding-top: 35px;
  }
}

.top {
  height: 50px;
  background-color: rgba(50, 50, 50, 0.7);
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  z-index: 9999;
}

.top-phone {
  color: white;
  font-size: 25px;
  margin-right: 30px;
}

.top-phone:hover {
  color: #ffc800;
}

@media (max-width: 470px) {
  .top {
    height: 70px;
  }
  .top-phone {
    margin-right: 20px;
  }
}

.myLi {
  list-style-type: disc;
}

#menu {
  display: inline;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url("../fonts/roboto-bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto-bold/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.request {
  width: 397px;
  height: 440px;
  background-color: #fff;
  text-align: center;
  padding-top: 30px;
  position: absolute;
  top: 140px;
  max-width: 1280px;
  -webkit-box-shadow: 2px -1px 10px 1px black;
          box-shadow: 2px -1px 10px 1px black;
  margin-left: 50px;
}

.request__header {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 43px;
}

.request__button {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  width: 70%;
  height: 58px;
  background-color: #6d827d;
  margin-top: 20px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.modal-dialog {
  position: relative;
  top: 10px;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 40px;
  height: auto;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.brif-input {
  width: 80%;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000000;
  color: #020202;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: italic;
  margin-bottom: 45px;
}

.brif-input-review {
  width: 80%;
  height: 125px;
  resize: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: italic;
  font-family: Roboto;
  margin-bottom: 15px;
}

.services {
  margin-top: 20px;
}

.h3 {
  font-size: 20px;
}

.h2 {
  font-size: 26px;
  font-weight: bold;
}

.h4 {
  font-size: 23px;
}

.myLi {
  font-size: 20px;
}

.more-video {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 50px;
}

@media (max-width: 1180px) {
  .about-p {
    font-size: 20px;
  }
}

@media (max-width: 605px) {
  .map {
    display: none;
  }
}

@media (max-width: 565px) {
  .more-video {
    display: none;
  }
}

@media (max-width: 495px) {
  .myLi {
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 460px) {
  .slider {
    display: none;
  }
}

.organization-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

@media (min-width: 1700px) {
  .generalOrganization {
    background-size: 100% 100%;
  }
}

.h2 {
  padding-top: 35px;
  margin-bottom: 40px;
}

.orgLi {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

.orgSpan {
  text-decoration: underline;
}

.org-a:hover {
  color: #ffc800;
}

#gallery, #gallery2 {
  margin-left: auto;
  margin-right: auto;
}

.galleryImage {
  width: auto;
  height: 100%;
  top: 0;
}

.ug-item-wrapper {
  left: 36%;
}

.wreaths_size {
  text-align: center;
}

.h2_centr {
  text-align: center;
}

.wreaths_bottom {
  margin-bottom: 50px;
}

@media (max-width: 640px) {
  .map {
    display: none;
  }
  .h2_centr, .wreaths_size {
    display: none;
  }
  p {
    font-size: 18px;
  }
  .navigation {
    height: 116px;
  }
}

@media (max-width: 460px) {
  .navigation {
    height: 220px;
  }
}

.h1 {
  margin-top: 0px;
  padding-top: 55px;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 55px;
}

h2 {
  padding-top: 30px;
  margin-bottom: 8px;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

h3 {
  padding-top: 15px;
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: bold;
}

p {
  text-align: justify;
  font-size: 20px;
  text-indent: 20px;
}

b {
  font-weight: bold;
}

@media (max-width: 460px) {
  .navigation {
    height: 255px;
  }
}

.generalQaa {
  height: 500px;
  background-size: 100% 100%;
}

.coffins_image {
  text-align: center;
  margin: 15px;
}

@media (max-width: 890px) {
  .coffins_image {
    display: none;
  }
}

.crossesCenter {
  text-align: center;
}

.gallery3 {
  text-align: -webkit-center;
}

.textileCenter {
  text-align: -webkit-center;
}

.monumentsLi {
  list-style-type: disc;
  font-size: 20px;
}

.fenses_gallery_center {
  text-align: -webkit-center;
}

@media (min-width: 1360px) {
  .generalBenchesTables {
    background-size: 100% 100%;
  }
}

.generalWorks {
  background-size: auto 100%;
  height: 3900px;
}

.images_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works_image {
  margin-bottom: 40px;
  -webkit-transition: 1s;
  transition: 1s;
}

.works_image:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 1340px) {
  .generalWorks {
    height: auto;
  }
}

@media (max-width: 450px) {
  .works_image {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */