@charset "UTF-8";
body {
  background-color: #87472C;
  margin: 0;
  font-family: Roboto;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/*ХЕДЕР*/
.header {
  background: grey url("../images/sky.jpg") no-repeat;
  background-size: 100%;
  height: 355px;
}

.header-background {
  background: rgba(247, 172, 115, 0.14);
  height: 100%;
  width: 100%;
}

.header-address {
  font-size: 29px;
  float: right;
}

.header-title {
  font-size: 76px;
  color: #FF0000;
  -webkit-text-stroke: 3px #000000;
  text-shadow: 10px 4px 5px rgba(255, 255, 255, 0.81);
  font-weight: bold;
  font-family: Roboto-bold;
  text-transform: uppercase;
}

.header-tagline {
  display: block;
  font-size: 30px;
  font-style: italic;
}

.header-phone {
  display: block;
  font-size: 35px;
  text-decoration: none;
  color: black;
}

.header-phone_dayNight {
  font-size: 25px;
}

.header-phone_callMe {
  font-size: 26px;
  line-height: 2;
  color: white;
}

.header-phone_callMe:hover {
  color: #ffc800;
}

.header-left {
  padding-top: 85px;
}

.header-right {
  float: right;
  margin-top: -115px;
}

.line {
  width: 100%;
  border: 1px solid black;
  /*НАВИГАЦИЯ*/
}

.navigation {
  font-size: 21px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.navigation_a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  position: relative;
}

.navigation_a:hover {
  color: #ffc800;
}

.navigation_a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #ffc800;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.navigation_a:hover:after {
  width: 100%;
}

.navigation_a:focus:after {
  width: 100%;
}

.flowers {
  background: grey url("../images/flowers.jpg") no-repeat;
  background-size: 100%;
  height: 560px;
}

.general {
  height: 2070px;
  background: url("../images/air.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.general-background {
  background: rgba(180, 231, 231, 0.49);
  height: 100%;
  width: 100%;
}

.about-h {
  margin-top: 0px;
  padding-top: 65px;
  margin-bottom: 40px;
  text-align: center;
}

.about-p {
  text-indent: 20px;
  text-align: justify;
  font-size: 23px;
}

.about-p-b {
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}

.about-more {
  text-align: center;
}

.about-more-span {
  font-size: 28px;
  text-transform: uppercase;
  color: black;
}

.video-block {
  text-align: center;
  margin-top: 50px;
}

.video-block-v {
  width: 70%;
}

.callMe {
  text-align: center;
}

.callMe-h {
  padding-top: 70px;
}

.callMe-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.callMe-leftInput {
  display: block;
  width: 350px;
  height: 55px;
  margin: 20px;
  padding-left: 15px;
  font-size: 18px;
}

.callMe-textarea {
  width: 350px;
  height: 130px;
  margin-top: 20px;
  resize: none;
  font-size: 18px;
  padding: 15px;
}

.callMe-button {
  width: 300px;
  height: 60px;
  background: #D09F21;
  -webkit-box-shadow: 10px 10px 2px rgba(255, 241, 168, 0.24);
          box-shadow: 10px 10px 2px rgba(255, 241, 168, 0.24);
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  outline: none;
}

.map {
  width: 100%;
}

.map-m {
  width: 100%;
}

.footer {
  background: grey url("../images/skyF.jpg") no-repeat;
  background-size: 100%;
  height: 365px;
  position: relative;
}

.footer-background {
  background: rgba(247, 172, 115, 0.14);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left {
  font-size: 23px;
  line-height: 27px;
  padding: 100px;
}

.footer-left-span {
  text-decoration: underline;
}

.footer-left-span-i {
  font-style: italic;
}

.footer-right {
  font-size: 23px;
  line-height: 27px;
  padding: 100px;
}

.footer-socials {
  padding: 100px;
}

.footer-socials-a {
  margin-right: 20px;
}

.footer-develop {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
}

.footer-develop-a {
  color: white;
}

a {
  color: black;
}

.scrollTop {
  width: 128px;
  height: 128px;
  background: url("../images/top.png") 0 0 no-repeat;
  bottom: -40px;
  left: 1%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url("../fonts/roboto-bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto-bold/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.request {
  width: 397px;
  height: 440px;
  background-color: #fff;
  text-align: center;
  padding-top: 30px;
  position: absolute;
  top: 140px;
  max-width: 1280px;
  -webkit-box-shadow: 2px -1px 10px 1px black;
          box-shadow: 2px -1px 10px 1px black;
  margin-left: 50px;
}

.request__header {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 43px;
}

.request__button {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  width: 70%;
  height: 58px;
  background-color: #87472C;
  margin-top: 20px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.modal-dialog {
  position: relative;
  top: 10px;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.brif-input {
  width: 80%;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000000;
  color: #020202;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: italic;
  margin-bottom: 45px;
}

.brif-input-review {
  width: 300px;
  height: 125px;
  resize: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: italic;
  font-family: Roboto;
  margin-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */