body
  background-color: $main-color
  margin: 0
  font-family: Roboto
.container
  max-width: 1280px
  margin-left: auto
  margin-right: auto

/*ХЕДЕР*/
.header
  background: grey url('../images/sky.jpg') no-repeat            
  background-size: 100%
  height: 355px
  &-background
    background: rgba(247, 172, 115, 0.14)
    height: 100%
    width: 100%
  &-address
    font-size: 29px
    float: right
  &-title
    font-size: 76px
    color: #FF0000
    -webkit-text-stroke: 3px #000000
    text-shadow: 10px 4px 5px rgba(255, 255, 255, 0.81)
    font-weight: bold
    font-family: Roboto-bold
    text-transform: uppercase
  &-tagline
    display: block
    font-size: 30px
    font-style: italic
  &-phone
    display: block
    font-size: 35px
    text-decoration: none
    color: black
    &_dayNight
      font-size: 25px
    &_callMe
      font-size: 26px
      line-height: 2
      color: white
      &:hover
        color: $hover-color
  &-left
    padding-top: 85px
  &-right
    float: right
    margin-top: -115px
.line
  width: 100%
  border: 1px solid black

  /*НАВИГАЦИЯ*/
.navigation
  font-size: 21px
  margin-top: 30px
  text-align: center
  margin-bottom: 30px
  &_a
    text-decoration: none
    color: white
    margin-right: 40px
    display: inline-flex
    vertical-align: middle
    position: relative
    &:hover 
      color: $hover-color
    &:after 
      display: block
      content: ""
      height: 2px
      width: 0%
      background-color: #ffc800
      -webkit-transition: width .3s ease-in
      transition: width .3s ease-in
      position: absolute
      bottom: -5px
      left: 50%
      -webkit-transform: translateX(-50%)
      transform: translateX(-50%)
    &:hover:after 
      width: 100%
    &:focus:after 
      width: 100%

.flowers
  background: grey url('../images/flowers.jpg') no-repeat
  background-size: 100%
  height: 560px

.general
  height: 2070px
  background: url('../images/air.jpg')  no-repeat
  background-size: auto 100%
  background-position: center
  &-background
    // background: rgba(247, 172, 115, 0.14)
    background: rgba(180, 231, 231, 0.49)
    height: 100%
    width: 100%
.about
  &-h
    margin-top: 0px
    padding-top: 65px
    margin-bottom: 40px
    text-align: center
  &-p
    text-indent: 20px
    text-align: justify
    font-size: 23px
    &-b
      text-decoration: underline
      font-size: 25px
      font-weight: bold
  &-more
    text-align: center
    &-span
      font-size: 28px
      text-transform: uppercase
      color: black
.video-block
  text-align: center
  margin-top: 50px
  &-v
    width: 70%

.callMe
  text-align: center
  &-h
    padding-top: 70px
  &-wrapper
    display: inline-flex
  &-leftInput
    display: block
    width: 350px
    height: 55px
    margin: 20px
    padding-left: 15px
    font-size: 18px
  &-textarea
    width: 350px
    height: 130px
    margin-top: 20px
    resize: none
    font-size: 18px
    padding: 15px
  &-button
    width: 300px
    height: 60px
    background: #D09F21
    box-shadow: 10px 10px 2px rgba(255, 241, 168, 0.24)
    border-radius: 10px
    display: block
    margin-left: auto
    margin-right: auto
    font-size: 18px
    outline: none

.map
  width: 100%
  &-m
    width: 100%

.footer
  background: grey url('../images/skyF.jpg') no-repeat            
  background-size: 100%
  height: 365px
  position: relative
  
  &-background
    background: rgba(247, 172, 115, 0.14)
    height: 100%
    width: 100%
    display: flex
    justify-content: space-between
  &-left
    font-size: 23px
    line-height: 27px
    padding: 100px
    &-span
      text-decoration: underline
      &-i
        font-style: italic
  &-right
    font-size: 23px
    line-height: 27px
    padding: 100px
  &-socials
    padding: 100px
    &-a
      margin-right: 20px
  &-develop
    position: absolute
    bottom: 5px
    right: 5px
    color: white
    &-a
      color: white





a
  color: black
