.h1
  margin-top: 0px
  padding-top: 55px
  margin-bottom: 30px
  text-align: center

h1
  text-align: center
  padding-top: 55px

h2
  padding-top: 30px
  margin-bottom: 8px
  font-size: 23px
  font-weight: bold
  text-align: center

h3
  padding-top: 15px
  margin-bottom: 5px
  font-size: 19px
  font-weight: bold

p
  text-align: justify
  font-size: 20px
  text-indent: 20px

b
  font-weight: bold

@media (max-width: 460px)
  .navigation 
    height: 255px

.generalQaa
  height: 500px
  background-size: 100% 100%
