.services
  margin-top: 20px
.h3
  font-size: 20px
.h2
  font-size: 26px
  font-weight: bold
.h4
  font-size: 23px
.myLi
  font-size: 20px
.generalMore
  height: 2870px
.more-video
  text-align: center
  margin-top: 20px

@media (max-width: 1290px)
  .generalMore
    height: 3000px

@media (max-width: 1180px)
  .generalMore
    height: 2870px
  .about-p 
    font-size: 20px

@media (max-width: 1040px)
  .generalMore
    height: 3000px

@media (max-width: 920px)
  .generalMore
    height: 3200px

@media (max-width: 790px)
  .generalMore
    height: 3400px
    
@media (max-width: 705px)
  .generalMore
    height: 3600px

@media (max-width: 605px)
  .map
    display: none
  .generalMore
    height: 3800px

@media (max-width: 565px)
  .more-video
    display: none

@media (max-width: 495px)
  .generalMore
    height: 3760px
  .myLi 
    font-size: 18px

@media (min-width: 320px) and (max-width: 460px)
  .slider
    display: none
  .generalMore
    height: 4500px

@media (min-width: 350px) and (max-width: 460px)
  .generalMore
    height: 4050px

@media (min-width: 370px) and (max-width: 460px)
  .generalMore
    height: 3830px

@media (min-width: 400px) and (max-width: 460px)
  .generalMore
    height: 3570px

@media (min-width: 440px) and (max-width: 460px)
  .generalMore
    height: 3300px