  
.organization-container
  text-align: center
  padding-top: 30px
  padding-bottom: 50px

@media (min-width: 1700px)
  .generalOrganization
    background-size: 100% 100%

.h2
  padding-top: 35px
  margin-bottom: 40px

.orgLi
  text-align: left
  font-size: 22px
  font-weight: bold

.orgSpan
  text-decoration: underline

.org-a:hover
  color: $hover-color