#gallery, #gallery2
  margin-left: auto
  margin-right: auto

.galleryImage
  width: auto
  height: 100%
  top: 0

.ug-item-wrapper
  left: 36%

.generealWreaths
  height: 3800px

.wreaths_size
  text-align: center

.h2_centr
  text-align: center

// .h2_big
//   font-size: 24px

@media (max-width: 1410px)
  .generealWreaths
    height: 4200px

@media (max-width: 1195px)
  .generealWreaths
    height: 4600px

@media (max-width: 1070px)
  .generealWreaths
    height: 4800px

@media (max-width: 800px)
  .generealWreaths
    height: 5000px

@media (max-width: 700px)
  .generealWreaths
    height: 5200px

@media (max-width: 640px)
  .generealWreaths
    height: 4600px
  .map
    display: none
  .h2_centr, .wreaths_size
    display: none
  p
    font-size: 18px
  .navigation 
    height: 116px

@media (max-width: 570px)
  .generealWreaths
    height: 5000px

@media (max-width: 480px)
  .generealWreaths
    height: 5300px


@media (max-width: 460px)
  .navigation 
    height: 220px

@media (min-width: 320px) and (max-width: 446px)
  .generealWreaths 
    height: 6790px

@media (min-width: 340px) and (max-width: 446px)
  .generealWreaths 
    height: 6400px

@media (min-width: 370px) and (max-width: 446px)
  .generealWreaths 
    height: 6050px

@media (min-width: 400px) and (max-width: 446px)
  .generealWreaths 
    height: 5730px

@media (min-width: 415px) and (max-width: 446px)
  .generealWreaths 
    height: 5560px