#gallery, #gallery2
  margin-left: auto
  margin-right: auto

.galleryImage
  width: auto
  height: 100%
  top: 0

.ug-item-wrapper
  left: 36%

.generealWreaths
  height: 3800px

.wreaths_size
  text-align: center

.h2_centr
  text-align: center

.h2_big
  font-size: 24px
